@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Source Code Pro', monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}